@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  min-width: 320px;
}

.anim-one {
  animation: anim-one ease 4s infinite;
  -webkit-animation: anim-one ease 4s infinite;
  transform-origin: center;
}
.anim-two {
  animation: anim-two ease 4s infinite;
  -webkit-animation: anim-two ease 4s infinite;
  transform-origin: center;
}
.anim-three {
  animation: anim-three ease 4s infinite;
  -webkit-animation: anim-three ease 4s infinite;
  transform-origin: left;
}

@keyframes anim-one {
  0% {
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  100% {
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
  }
}
@keyframes anim-three {
  0% {
    transform: scale(0.85) translateX(-50%);
    -webkit-transform: scale(0.85) translateX(-50%);
    -moz-transform: scale(0.85) translateX(-50%);
    -ms-transform: scale(0.85) translateX(-50%);
    -o-transform: scale(0.85) translateX(-50%);
  }
  50% {
    transform: scale(1) translateX(-50%);
    -webkit-transform: scale(1) translateX(-50%);
    -moz-transform: scale(1) translateX(-50%);
    -ms-transform: scale(1) translateX(-50%);
    -o-transform: scale(1) translateX(-50%);
  }
  100% {
    transform: scale(0.85) translateX(-50%);
    -webkit-transform: scale(0.85) translateX(-50%);
    -moz-transform: scale(0.85) translateX(-50%);
    -ms-transform: scale(0.85) translateX(-50%);
    -o-transform: scale(0.85) translateX(-50%);
  }
}

.button-animation,
.button-hover {
  position: relative;
  overflow: hidden;
}

.button-animation::after,
.button-hover::after {
  position: absolute;
  content: "";
  border: 13px solid rgba(255, 255, 255, 0.6);
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  border-radius: 100px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.button-animation::before,
.button-hover::before {
  position: absolute;
  content: "";
  border: 13px solid rgba(255, 255, 255, 0.6);
  width: 52px;
  height: 52px;
  left: 50%;
  top: 50%;
  border-radius: 100px;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.button-animation::after,
.button-animation::before {
  animation: scale-up 2s ease infinite;
  -webkit-animation: scale-up 2s ease infinite;
}

.button-hover:not(.button-animation)::after,
.button-hover:not(.button-animation)::before {
  display: none;
}

.button-animation:hover::after,
.button-animation:hover::before {
  display: none;
}

.button-hover:hover:not(.button-animation)::after,
.button-hover:hover:not(.button-animation)::before {
  display: block;
  animation: scale-up 1s ease forwards;
  -webkit-animation: scale-up 1s ease forwards;
}

.bouncing {
  animation: bouncing 1.5s linear infinite;
  -webkit-animation: bouncing 1.5s linear infinite;
}
.bouncing-two {
  animation: bouncing-two 1.5s linear infinite;
  -webkit-animation: bouncing-two 1.5s linear infinite;
}

@keyframes bouncing {
  0% {
    transform: rotateZ(-5deg) translateY(-20px);
    -webkit-transform: rotateZ(-5deg) translateY(-20px);
    -moz-transform: rotateZ(-5deg) translateY(-20px);
    -ms-transform: rotateZ(-5deg) translateY(-20px);
    -o-transform: rotateZ(-5deg) translateY(-20px);
  }

  50% {
    transform: rotateZ(-15deg) translateY(0px);
    -webkit-transform: rotateZ(-15deg) translateY(0px);
    -moz-transform: rotateZ(-15deg) translateY(0px);
    -ms-transform: rotateZ(-15deg) translateY(0px);
    -o-transform: rotateZ(-15deg) translateY(0px);
  }

  100% {
    transform: rotateZ(-5deg) translateY(-20px);
    -webkit-transform: rotateZ(-5deg) translateY(-20px);
    -moz-transform: rotateZ(-5deg) translateY(-20px);
    -ms-transform: rotateZ(-5deg) translateY(-20px);
    -o-transform: rotateZ(-5deg) translateY(-20px);
  }
}
@keyframes bouncing-two {
  0% {
    transform: translateY(-20px) translateX(-50%);
    -webkit-transform: translateY(-20px) translateX(-50%);
    -moz-transform: translateY(-20px) translateX(-50%);
    -ms-transform: translateY(-20px) translateX(-50%);
    -o-transform: translateY(-20px) translateX(-50%);
  }

  50% {
    transform: translateY(0px) translateX(-50%);
    -webkit-transform: translateY(0px) translateX(-50%);
    -moz-transform: translateY(0px) translateX(-50%);
    -ms-transform: translateY(0px) translateX(-50%);
    -o-transform: translateY(0px) translateX(-50%);
  }

  100% {
    transform: translateY(-20px) translateX(-50%);
    -webkit-transform: translateY(-20px) translateX(-50%);
    -moz-transform: translateY(-20px) translateX(-50%);
    -ms-transform: translateY(-20px) translateX(-50%);
    -o-transform: translateY(-20px) translateX(-50%);
  }
}

@keyframes scale-up {
  0% {
    transform: translateX(-50%) translateY(-50%) scale(1);
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1);
    -o-transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) scale(3);
    -webkit-transform: translateX(-50%) translateY(-50%) scale(3);
    -moz-transform: translateX(-50%) translateY(-50%) scale(3);
    -ms-transform: translateX(-50%) translateY(-50%) scale(3);
    -o-transform: translateX(-50%) translateY(-50%) scale(3);
    opacity: 0;
  }
}

.page-loading {
  position: fixed;
  width: 100%;
  height: 4px;
  z-index: 99999;
}

.page-loading:after {
  content: "";
  position: absolute;
  height: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #3457d5;
  width: 50%;
  left: 0;
  top: 0;
  transform-origin: right;
  animation: page-loading linear 2s infinite;
  -webkit-animation: page-loading linear 2s infinite;
}
.page-loading:before {
  content: "";
  position: absolute;
  height: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #3457d5;
  width: 50%;
  right: 0;
  top: 0;
  transform-origin: left;
  animation: page-loading linear 2s infinite;
  -webkit-animation: page-loading linear 2s infinite;
}

.workflow-anim::after {
  animation: rotate-after linear infinite 5s;
  -webkit-animation: rotate-after linear infinite 5s;
}

.team-slide::after {
  animation: team-slide linear infinite 5s;
  -webkit-animation: team-slide linear infinite 5s;
}

@keyframes team-slide {
}

@keyframes page-loading {
  0% {
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    opacity: 0.3;
  }
  50% {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    opacity: 0.3;
  }
}

@keyframes rotate-after {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
  }

  /* 100% {
    transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
  } */
}

.special-scroll,
.special-scroll-two {
  scrollbar-width: thin;
}

.special-scroll-horizontal,
.special-scroll-horizontal-two {
  overflow-x: scroll;
}

.special-scroll-vertical,
.special-scroll-vertical-two {
  overflow-y: scroll;
}

.special-shadow {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

.special-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.special-scroll-two::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
  background: rgba(0, 0, 0, 0.1) !important;
}
.special-scroll-two::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1) !important;
}
.special-scroll-two::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1) !important;
}
