@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
}

.special-scroll{
  
}

.special-scroll-horizontal{
  overflow-x: scroll;
}

.special-scroll-vertical{
  overflow-y: scroll;
}

.special-scroll::-webkit-scrollbar{
  width: 0;
  height: 0;
}
